* {
    font-family: "Montserrat", serif;
}

#header-area {
    text-align: center; /* Centers the header content */
    position: relative;
}
#image-container {
    position: relative; 
    /* object-position: center; */
    display: inline;
}

#cse_building {
    width: 80%;
    height: 400px;
    object-fit: cover;
    /* /* border-radius: 10px;  */
    /* object-position: 50% 20%; */
    object-position: center;
}

#iith_logo {
    
    position: absolute;
    top: 10px;
    right: 10px;   /* Place the logo on the top-right corner */
    width: 100px;
    height: auto;
}

#isea_logo {
    position: absolute;
    height: 100px;
    width: auto;
}

#minisrty_logo {
    position: absolute;
    top: 10%; /* Adjust to place logo at the desired height */
    left: 50%; /* Move logo to the center horizontally */
    transform: translate(190%, -250%); /* Center align the logo perfectly */
    height: 70px;
    width: auto;
    z-index: 10;
}

nav#heading-area {
    /* background-color: aqua; */
    display: inline-flex;
    width: 100%;
    font-family: "Roboto", serif;
}

#bootcamp-name {
    display: inline;
    width: 150%;
    size: 200px;
    /* height: 120px; */
    /* background-color: rgb(143, 143, 15); */
    transform: translateX(-10%);
    /* font-size: var(100%); */
    /* font-family: "Montserrat", serif; */
    font-size: 50px;
    font-weight: 200;
}

#bootcamp-date {
    width: 70%;
    display: inline-block;
    background-color: rgb(43, 61, 226);
    color: white;
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: 40px;
    text-align: center;
    /* margin-top: 10px; */
}
p#date {
    margin-top: 10px;
}

/* .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
} */


.montserrat-heading-zone{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.about#about {
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
}

section#body {
    display: inline-flex;
}
